{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block header %}
    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Về chúng tôi</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                </ol>
            </nav>
        </div>
    </div>
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.5s">
                        <h5 class="section-title ff-secondary text-center text-primary fw-normal">Restaurant picture</h5>
                        <h1 class="mb-5">Hình ảnh</h1>
                    </div>
                    {% for about in abouts %}
                    {% if about.type == 'Pic' %}
                    <!-- Phần hình ảnh -->
                    <div class="col-lg-4">
                        <div class="row g-3">
                            <div class="col-12 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.5s"
                                    src="{{ about.image.url }}">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                        <h5 class="section-title ff-secondary text-center text-primary fw-normal">Our Restaurant</h5>
                        <h1 class="mb-5">Giới thiệu</h1>
                    </div>
                    {% for about in abouts %}
                    {% if about.type == 'Rep' %}
                    <!-- Phần bài viết -->

                    <div class="col-lg-12">
                        <div class="row g-3">
                            <div class="col-7 text-start">
                                <h5 class="section-title ff-secondary text-start text-primary fw-normal">{{ about.name}}</h5>
                                <p class="mb-4">{{ about.description }}</p>
                                <div class="row g-4 mb-4">
                                    <div class="col-sm-6">
                                        <div
                                            class="d-flex align-items-center border-start border-5 border-primary px-3">
                                            <h1 class="flex-shrink-0 display-5 text-primary mb-0"
                                                data-toggle="counter-up">{{ about.age }}</h1>
                                            <div class="ps-4">
                                                <p class="mb-0">Năm</p>
                                                <h6 class="text-uppercase mb-0">Độ uy tín</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="{{ about.image.url }}">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
        <!-- About End -->

        <!-- Team Start -->
        <div class="container-xxl pt-5 pb-3">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h5>
                    <h1 class="mb-5">Thành viên nhà hàng</h1>
                </div>
                <div class="row g-4">
                    {% for about in abouts %}
                    {% if about.type == 'Sta' %}
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="{{ about.image.url }}" alt="{{ about.name }}">
                            </div>
                            <h5 class="mb-0">{{ about.name }}</h5>
                            <small>{{ about.description }}</small>
                            <small>{{ " " }}{{ about.age }}{{ " Tuổi" }}</small>
                            <div class="d-flex justify-content-center mt-3">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Team End -->



        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    {% endblock %}
</body>

</html>