{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block header %}
    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Booking</h1>
        </div>
    </div>
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Danh sách bàn</h5>
                    <h1 class="mb-5">Bàn có sẵn</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded pt-3">
                            {% for available_table in available_tables %}
                                <div class="p-4">
                                    <i class="fa fa-3x fa-solid fa-utensils text-primary mb-4"></i>
                                    <h5>{{ available_table.name }}</h5>
                                    <form action="/reservation/booking/" method="POST">
                                        {% csrf_token %}
                                        <input type="text" value="{{ start_time }}" id="starttime" name="starttime" hidden>
                                        <input type="text" value="{{people_count}}" id="people_count" name="people_count" hidden>
                                        <input type="text" value="{{ available_table.id }}" id="tableid" name="tableid" hidden>
                                        <button class="btn btn-primary w-100 py-3" type="submit">Đặt</button>
                                    </form>
                                </div>
                            {% empty %}
                                <li>Không tìm thấy</li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    {% endblock %}
</body>

</html>