{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block header %}
    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container my-5 py-5">
            <div class="row align-items-center g-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="display-3 text-white animated slideInLeft">Đỉnh Cao<br>Ẩm Thực</h1>
                    <p class="text-white animated slideInLeft mb-4 pb-2">Chào mừng đến với LH Restaurant! Tận hưởng trải nghiệm ẩm thực độc đáo với các món ăn ngon và phục vụ tận tâm từ đội ngũ chuyên nghiệp của chúng tôi.</p>
                    <a href="/reservation/find-tables/"
                        class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Đặt bàn</a>
                </div>
                <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                    <img class="img-fluid" src="img/hero.png" alt="">
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

</head>

<body>
    {% block content %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v19.0"
        nonce="zMJe9Dwc"></script>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.5s">
                        <h5 class="section-title ff-secondary text-center text-primary fw-normal">Restaurant picture
                        </h5>
                        <h1 class="mb-5">Hình ảnh</h1>
                    </div>
                    {% for about in abouts %}
                    {% if about.type == 'Pic' %}
                    <!-- Phần hình ảnh -->
                    <div class="col-lg-4">
                        <div class="row g-3">
                            <div class="col-12 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.5s"
                                    src="{{ about.image.url }}">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                        <h5 class="section-title ff-secondary text-center text-primary fw-normal">Our Restaurant</h5>
                        <h1 class="mb-5">Giới thiệu</h1>
                    </div>
                    {% for about in abouts %}
                    {% if about.type == 'Rep' %}
                    <!-- Phần bài viết -->

                    <div class="col-lg-12">
                        <div class="row g-3">
                            <div class="col-7 text-start">
                                <h5 class="section-title ff-secondary text-start text-primary fw-normal">{{ about.name}}
                                </h5>
                                <p class="mb-4">{{ about.description }}</p>
                                <div class="row g-4 mb-4">
                                    <div class="col-sm-6">
                                        <div
                                            class="d-flex align-items-center border-start border-5 border-primary px-3">
                                            <h1 class="flex-shrink-0 display-5 text-primary mb-0"
                                                data-toggle="counter-up">{{ about.age }}</h1>
                                            <div class="ps-4">
                                                <p class="mb-0">Năm</p>
                                                <h6 class="text-uppercase mb-0">Độ uy tín</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s"
                                    src="{{ about.image.url }}">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
        <!-- About End -->

        <!-- Team Start -->
        <div class="container-xxl pt-5 pb-3">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h5>
                    <h1 class="mb-5">Đội ngũ nhân viên</h1>
                </div>
                <div class="row g-4">
                    {% for about in abouts %}
                    {% if about.type == 'Sta' %}
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="{{ about.image.url }}" alt="{{ about.name }}">
                            </div>
                            <h5 class="mb-0">{{ about.name }}</h5>
                            <small>{{ about.description }}</small>
                            <small>{{ " " }}{{ about.age }}{{ " Tuổi" }}</small>
                            <div class="d-flex justify-content-center mt-3">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Team End -->

        <!-- Menu Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
                    <h1 class="mb-5">Danh sách thực đơn</h1>
                </div>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-5 pb-3 active" data-bs-toggle="pill"
                                href="#foods">
                                <i class="fa fa-hamburger fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Chuẩn vị miền trung</small>
                                    <h6 class="mt-n1 mb-0">Món ăn</h6>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-5 ms-5 pb-3" data-bs-toggle="pill"
                                href="#drinks">
                                <i class="fa fa-coffee fa-2x text-primary"></i>
                                <div class="ps-3">
                                    <small class="text-body">Thơm ngon từng giọt</small>
                                    <h6 class="mt-n1 mb-0">Đồ uống</h6>
                                </div>
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div id="drinks" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                {% for drink in drinks %}
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <!-- <img class="flex-shrink-0 img-fluid rounded" src="{{ drink.image.url }}" alt="" style="width: 30%;"> -->
                                        <img class="flex-shrink-0 img-fluid rounded" src="{{ drink.image.url }}" alt=""
                                            style="width: 40%; max-width: 40%; max-height: 100%; aspect-ratio: 1280 / 720;">

                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>{{ drink.name }}</span>
                                                <span class="text-primary">{{ drink.price }}₫</span>
                                            </h5>
                                            <small class="fst-italic">{{ drink.description }}</small>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="foods" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                {% for food in foods %}
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <!-- <img class="flex-shrink-0 img-fluid rounded" src="{{ food.image.url }}" alt="" style="width: 30%;"> -->
                                        <img class="flex-shrink-0 img-fluid rounded" src="{{ food.image.url }}" alt=""
                                            style="width: 40%; max-width: 40%; max-height: 100%; aspect-ratio: 1280 / 720;">

                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>{{ food.name }}</span>
                                                <span class="text-primary">{{ food.price }}₫</span>
                                            </h5>
                                            <small class="fst-italic">{{ food.description }}</small>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->


        <!-- Reservation Start -->
        <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="video">
                        <button type="button" class="btn-play" data-bs-toggle="modal"
                            data-src="https://www.youtube.com/embed/_dui6BUmMBg" data-bs-target="#videoModal">
                            <span></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-6 bg-dark d-flex align-items-center">
                    <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                        <h1 class="text-white mb-4">Tìm bàn</h1>
                        <form action="/reservation/find-tables/" method="POST">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating date" id="date3" data-target-input="nearest">
                                        <input required type="text" class="form-control datetimepicker-input"
                                            id="setdatetime" name="datetime" placeholder="Date & Time"
                                            data-target="#date3" data-toggle="datetimepicker" />
                                        <label for="setdatetime">Ngày & Giờ</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input required type="number" class="form-control" id="people_count"
                                            name="people_count" min="1" placeholder="Số lượng người">
                                        <label for="people_count">Số lượng người</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="alert alert-warning" role="alert">
                                        <h5 class="alert-heading">Chú ý:</h5>
                                        <p class="mb-0">Vui lòng cung cấp thời gian và số lượng người để chúng tôi tìm kiếm bàn phù hợp với bạn. Mặc định bàn sẽ đặt trong 2 giờ. Bạn cũng có thể chọn đặt trước món nếu muốn!</p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Tìm</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- 16:9 aspect ratio -->
                        <div class="ratio ratio-16x9">
                            <iframe class="embed-responsive-item" src="" id="video" allowfullscreen
                                allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Reservation End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    {% endblock %}
</body>

</html>