{% extends 'base.html' %}
{% load static %}

<head>
    {% block header %}
    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Đăng ký</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Register</li>
                </ol>
            </nav>
        </div>
    </div>
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="container-xxl py-5">
        <section class="section-content padding-y"style="background-color: #fff;">
            <div class="container">
                <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
                    <article class="card-body">
                        {% include "includes/alerts.html" %}
                        <header class="mb-4 text-center">
                            <h4 class="card-title">Đăng ký</h4>
                        </header>
                        <form action="{% url 'register' %}" method="POST" class="animate__animated animate__fadeIn">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="first_name" class="form-label">Họ</label>
                                <div class="input-group">
                                    <span class="input-group-text bg-white border-0"><i
                                            class="fas fa-user text-primary"></i></span>
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="last_name" class="form-label">Tên</label>
                                <div class="input-group">
                                    <span class="input-group-text bg-white border-0"><i
                                            class="fas fa-user text-primary"></i></span>
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <div class="input-group">
                                    <span class="input-group-text bg-white border-0"><i
                                            class="fas fa-envelope text-primary"></i></span>
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="phone_number" class="form-label">Số điện thoại</label>
                                <div class="input-group">
                                    <span class="input-group-text bg-white border-0"><i
                                            class="fas fa-phone-alt text-primary"></i></span>
                                    {{ form.phone_number }}
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Mật khẩu</label>
                                <div class="input-group">
                                    <span class="input-group-text bg-white border-0"><i
                                            class="fas fa-lock text-primary"></i></span>
                                    {{ form.password }}
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="confirm_password" class="form-label">Xác nhận mật khẩu</label>
                                <div class="input-group">
                                    <span class="input-group-text bg-white border-0"><i
                                            class="fas fa-lock text-primary"></i></span>
                                    {{ form.confirm_password }}
                                </div>
                            </div>
                            <div class="mb-3 d-grid">
                                <button type="submit" class="btn btn-primary rounded"> Đăng ký </button>
                            </div>
                            {{ form.email.errors }}
                            {{ form.non_field_errors }}
                        </form>
                    </article>
                </div> 
                <p class="text-center mt-4">Đã có tài khoản? <a href="/account/login/">Đăng nhập</a></p>
                <br><br>
            </div>
        </section>
    </div>
    {% endblock %}
</body>